.search-bar-container {
    height: 100vh;
    bottom: 0;
}

.card-container {
    background-color: rgb(230, 215, 215);
}

.search-card {
    width: 80vh;
    height: 60vh;
    background-color: rgb(230, 215, 215);
    padding: 20px;
}