.content-container-profile {
    background-color: rgb(167, 147, 147);
    min-height: 100vh;
    height: 100%;
    margin-left: 20px;
}

.table-color {
    background-color: rgb(167, 147, 147);
}

.account-options {
    width: 190px;
    font-size: medium;
    font-style: normal;
    float: left;
    height: 100%;
}

.profile-header {
    margin-top: 20px;
    display: inline-block;
    width: max-content;
}

.profile-header i {
    color: red;
}

.hr-line {
    width: 94vw;
}


.profile-header h3 {
    display: inline-block;
}

.warning {
    color: red;
}


.profile-section {
    max-width: 310px;
    font-size: medium;
    font-style: normal;
    float: left;
    height: 100%;
    margin-top: 50px;
    margin-left: 20px;
}

.profile-section i {
    color: grey;
}

.profile-section h3 {
    font-weight: normal;
    margin-bottom: 40px;
}

.profile-section h4 {
    font-weight: normal;
}

.profile-section p {
    margin-bottom: 30px;
}

.profile-section ul {
    list-style-type: none;
    padding-left: 0pt;
}

.profile-section a {
    text-decoration: none;
    color: red;
}

.edit-profile-button {
    font-size: medium;
    font-style: normal;
    float: left;
    height: 100%;
    margin-top: 110px;
    margin-right: 10px;
}

.profile-section label {
    font-weight: bold;
    font-size: large;
}

.edit-profile-button {
    font-size: medium;
    font-style: normal;
    float: right;
    height: 100%;
    margin-top: 110px;
    margin-right: 10px;
}
