.login-container {
    height: 100vh;
    bottom: 0;
}

.login-card {
    width: 40%;
    min-width: 60vh;
    height: 50%;
    min-height: 40vh;
    background-color: rgb(230, 215, 215);
    padding: 20px;
}